FMA_Force_Sensor/History/*
FMA_Force_Sensor/__Previews/*
FMA_Force_Sensor/Project Logs for FMA_Force_Sensor/*

FMA_Force_Sensor_Lib/History/*
FMA_Force_Sensor_Lib/__Previews/*
FMA_Force_Sensor_Lib/Project Logs for FMA_Force_Sensor_Lib/*

project_file/History/*
project_file/__Previews/*
project_file/Project Logs for project_file/*